body{
  background-color: rgb(250, 242, 229);
}
h1{text-align: center;}
h1 {
  color: #557a95
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
h3{text-align: center;}
h3{
  color: #b1a296
}
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif
}